<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=windows-1252" http-equiv="Content-Type">

<script type="text/javascript" src="http://127.0.0.1:5000/static/paper.js"></script>

<script type="text/javascript" src="http://127.0.0.1:5000/static/nn4t.js"></script>

<script type="text/paperscript" src="http://127.0.0.1:5000/static/script.js" canvas="myCanvas"></script>
	

</head>

<body>
<h1>Deep Learning with brain.js</h1>
<div id="demo"></div>


<canvas id="myCanvas" resize></canvas>
<p> </p>

<script>
window.onload = function() {
    console.log(window.globals);
}
</script>

<script>console.log(window.paper)</script>

</body>
</html>
