<!doctype html>
<html>
<head>
  <style>
    
    #my-canvas { border: 1px solid gray; }
    
  </style>
</head>
<body>
  <canvas id="my-canvas" width="200" height="200"></canvas>
  <script>

    var canvas = document.querySelector('#my-canvas');
    var context = canvas.getContext('2d');

    // to increase performance createImageData method 
    // should be executed once e.g. before drawing
    var image = context.createImageData(canvas.width, canvas.height);
	var data = image.data;

    function drawPixel(x, y, color) {
      	var roundedX = Math.round(x);
      	var roundedY = Math.round(y);

      	var index = 4 * (canvas.width * roundedY + roundedX);

      	data[index + 0] = color.r;
        data[index + 1] = color.g;
        data[index + 2] = color.b;
        data[index + 3] = color.a;
    }

    function swapBuffer() {
    	context.putImageData(image, 0, 0);
    }

    var colors = [
      	{r: 255, g:   0, b:   0, a: 255}, // red
      	{r:   0, g: 255, b:   0, a: 255}, // green
      	{r:   0, g:   0, b: 255, a: 255}, // blue
    ];

    var t1 = new Date();

    for (var k=0;k<10000;k++) {
        
        console.log("k=",k);

        for(var j=0; j<canvas.height; j++) {
            for(var i=0; i<canvas.width; i++) {
                var color = colors[1];
                drawPixel(i, j, color);
            }
        }
        swapBuffer();

        for(var j=0; j<canvas.height; j++) {
            for(var i=0; i<canvas.width; i++) {
                var color = colors[0];
                drawPixel(i, j, color);
            }
        }
        swapBuffer();
    }
        

    for(var i = 0; i < 10000; ++i) {
      	var x = canvas.width * Math.random();
      	var y = canvas.height * Math.random();
      	var color = colors[i % colors.length];

    	drawPixel(x, y, color);
    }

    swapBuffer();

    var t2 = new Date();
    var dt = t2 - t1;

    console.log('elapsed time = ' + dt + ' ms');

  </script>
</body>
</html>