<title>JavaScript <=> PaperScript example</title>

<code mode="text/html">
<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="static/paper.js"></script>
<script type="text/paperscript" src="http://127.0.0.1:5000/static/script.js" canvas="myCanvas"></script>
<script type="text/javascript" src="http://127.0.0.1:5000/static/nn4t.js"></script>


<script type="text/javascript">
// To avoid race problem, the following should not be in window.onload as the PaperScript might run before.
window.globals = { a:50, b:-50 };

// Update the path from the JavaScript code.
window.onload = function() {
    document.getElementById('lineToBtn').onclick = function() {
    let x = Number(document.getElementById('x').value);
    let y = Number(document.getElementById('y').value);
    window.globals.lineTo2(x,y);
    window.globals.fill_space2()
    console.log(window.globals);
    }
};

</script>
</head>
<body>
<input type="range" id="x" from="0" to="150" default="75"></input>
<input type="range" id="y" from="0" to="150" default="75" ></input>
<button type="number" id="lineToBtn">LineTo</button>
<br>
<canvas id="myCanvas" resize></canvas>
</body>
</html>